body {
    font: 1.1em Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px
}

blockquote {
    font-style: italic;
}

p, li {
    line-height: 1.5;
}

pre {
    padding: 20px;
    white-space: pre-wrap;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 6px 13px;
    border: 1px dotted #dfe2e5;
    text-align: left;
    vertical-align: middle;
}

thead {
    background-color: #f0f0f0;
}

h1, h2, h3 {
    margin-top: 24px;
    margin-bottom: 16px;
}

code {
    padding: .2em .4em;
}

code, pre {
    background-color: #f9f9f9;
    font-size: 0.85em;
    font-family: Consolas,Monaco,"Lucida Console","Lucida Sans Typewriter",monospace;
    border-radius: 3px
}
