body {
    font: 1.1em Helvetica, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px
}

blockquote {
    font-style: italic;
}

p, li {
    line-height: 1.5;
}

pre {
    padding: 20px;
}

td, th {
    padding: 3px 5px;
    text-align: left;
    vertical-align: middle;
}


