{% extends "base.html" %}

{% block head %}
    <title>{{ config.title }}</title>
    <meta name="description" content="Friendly Engineering Blog">
{% endblock head %}

{% block body %}
    <body>
        <header>
            <h1>Friendly Engineering</h1>
            <hr/>
        <main>
            <ul>
            {% for post in section.pages %}
                <li><a href="{{ post.permalink }}">{{ post.date | date(format="%Y-%m-%d") }} - {{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </main>
        <footer>
            <hr/>
            <a href="https://twitter.com/j_f_green">@j_f_green</a>
        </footer>
    </body>
{% endblock body %}
